.history-title-div {
  height: 10%; 
}

.page-title {
  width: 100%;
  text-align: center;
}

.readings-list {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

.reading {
  width: inherit;
  height: 50px;
}

.odd {
  background-color: lightgray;
}

.even {
  background-color: lightslategray;
}

.date {
  float: right;
}

.show-reading, .add-to-monitor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plot {
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
  justify-content: center;
}